@tailwind base;
@tailwind components;
@tailwind utilities;


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .image-size {
    width: 589px;
  }
}
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .image-bottom {
    bottom:32%;
  }
}
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .image-minus {
    bottom:-30%;
  }
}

@layer base {
  @font-face {
    font-family: Eikothin;
    src: url(/fonts/Eiko/AnyConv.com__PPEiko-Thin.woff) format("woff");
  }
  @font-face {
    font-family: Eikomed;
    src: url(/fonts/Eiko/AnyConv.com__PPEiko-Medium.woff) format("woff");
  }
  @font-face {
    font-family: Eikobold;
    src: url(/fonts/Eiko/AnyConv.com__PPEiko-Heavy.woff) format("woff");
  }
  @font-face {
    font-family: Montrealbook;
    src: url(/fonts/Montreal/PPNeueMontreal-Book.woff) format("woff");
  }
  @font-face {
    font-family: Montrealthin;
    src: url(/fonts/Montreal/AnyConv.com__PPNeueMontreal-Thin.woff) format("woff");
  }
  @font-face {
    font-family: Montrealmed;
    src: url(/fonts/Montreal/AnyConv.com__PPNeueMontreal-Medium.woff) format("woff");
  }
  @font-face {
    font-family: Montrealbold;
    src: url(/fonts/Montreal/AnyConv.com__PPNeueMontreal-Bold.woff) format("woff");
  };
}
